{
  email justinlovelessx@gmail.com
}

*.lovelesslabs.net {
  tls {
    dns hetzner {env.HETZNER_API_TOKEN}
  }
  reverse_proxy api:8080
}

lovelesslabs.net {
  encode gzip
  @api path /api/*
  handle @api {
    respond "OK" 200
  }
}
