{
  email justinlovelessx@gmail.com
}

lovelesslabs.net, *.lovelesslabs.net {
  tls {
    dns hetzner {env.HETZNER_API_TOKEN}
  }
  encode gzip
  @api path /api/*
  reverse_proxy @api api:8080
  handle {
    respond "OK" 200
  }
}
